.usa-header{
    padding: 0 30px 15px 30px;
}
.usa-step-indicator {
    display: flex;
    flex-direction: column;
}
.usa-step-indicator__segments {
    justify-content: center;
}
.usa-step-indicator__header {
    justify-content: center;
}
.usa-form {
    margin: 0 auto;
}
#spouse {
    margin-top: 0;
}
.profile-picture{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* .usa-nav__submenu-item > .usa-nav{
    background-color: red;
} */
#navLangButton{
    color: white;
}
.usa-nav{
    /* background-color: red; */
    width: fit-content !important;
}
.navLogoutButton{
    color: white !important;
}
/* #main-content{
    min-height: 100vh;
} */
.usa-card-group{
    justify-content: center;
}
.usa-card__container{
    align-items: center;
}
.usa-card__container > div{
    width: 80%;
}
