:root {
    --header-height: 90px;
    --footer-height: 150px;
}
.usa-header{
    min-height: var(--header-height);
}
.usa-header--basic{
    padding: 0 30px 15px 30px;
    min-height: var(--header-height);
}
.usa-navbar {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}
#main-content {
    padding-top: 50px;
    min-height: 70vh;
}
.usa-language-container {
    width: fit-content;
}
.bg-base-lightest {
    height: calc(100vh - var(--header-height)) !important;
}
.usa-step-indicator {
    display: flex;
    flex-direction: column;
}
.usa-step-indicator__segments {
    justify-content: center;
}
.usa-step-indicator__header {
    justify-content: center;
}
.usa-form {
    margin: 0 auto;
}
#spouse {
    margin-top: 0;
}
.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#navLangButton {
    color: white;
    width: 100%;
}
.usa-nav {
    width: fit-content !important;
}
.navLogoutButton {
    color: white !important;
    font-weight: normal !important;
    width: 100%;
}
.navLogoutButton:hover,
#navLangButton:hover {
    cursor: pointer;
    background-color: white !important;
    color: #162e51 !important;
}
.usa-card-group {
    justify-content: center;
}
.usa-card__container {
    align-items: center;
}
.usa-card__container > div {
    width: 80%;
}
.usa-footer__primary-section {
    margin-top: 80px;
}
.usa-footer__contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usa-button-group {
    display: flex;
    justify-content: center;
}
#btns{
    display: flex;
    align-items: center;
    min-width: 150px;
    justify-content: space-around;
}
#main-content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 80px);
    margin: 0;
}
.usa-footer__secondary-section {
    min-height: var(--footer-height);
}
